@import url("https://fonts.googleapis.com/css?family=Trocchi");
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	font-family: "Trocchi", serif;
}

::-webkit-scrollbar {
	display: none;
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-top {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.about {
	width: 100%;
	height: 500px;
}

.contact {
	padding: 80px 0px 50px 0px;
}

.contact > h2 {
	margin-bottom: 10px;
}

.contact-form {
	margin: 20px;
	box-sizing: border-box;
	padding: 20px;
	border: 0.5px solid #acacac;
	width: 80%;
}

.contact-form label {
	display: block;
	margin: 20px 0px 5px 0px;
	width: 100%;
}

.contact-form textarea {
	box-sizing: border-box;
	resize: none;
	height: 100px;
	width: 100%;
	padding: 10px;
	border: 0.1px solid #e0e0e0;
}

.contact-form input {
	display: block;
	box-sizing: border-box;
	border: 0.1px solid #e0e0e0;
	min-height: 30px;
	padding: 10px;
	width: 100%;
	margin-bottom: 5px;
}

.contact-form form {
	width: 100%;
	margin: 0;
	padding: 0;
}

.about h2 {
	margin-top: 20px;
}

#avatar {
	height: 175px;
	border-radius: 50%;
}

.gallery-container {
	position: relative;
	background-color: #212121;
	text-align: center;
	color: #ffffff;
	padding: 75px 0px 75px 0px;
}

/* https://link.medium.com/87N2Un0ccX */
.gallery-container::before {
	position: absolute;
	background-color: #212121;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform-origin: top left;
	transform: skewY(-3deg);
	z-index: -10;
}

.gallery-container::after {
	position: absolute;
	background-color: #212121;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform-origin: bottom left;
	transform: skewY(3deg);
	z-index: -10;
}

.gallery {
	margin: 75px 0px 75px 0px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.gallery-item {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 250px;
	cursor: pointer;
}

#submit {
	margin-top: 10px;
}

/* https://parsleyjs.org/ */
.parsley-required, .parsley-type, .parsley-minlength {
	margin-left: 15px;
	font-size: 12px;
}

.overlay-background {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #000000c0;
	z-index: 100;
}

.overlay {
	height: 90%;
	max-width: 90%;
}

.overlay > img {
	object-fit: contain;
	height: 100%;
	width: 100%;
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

@media (min-width: 1024px) {
	.gallery {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px 10px;
		margin: 75px auto;
		width: 80%;
	}

	.contact {
		padding: 120px 0px 50px 0px;
	}

	.gallery-item {
		height: 500px;
	}
}

@media (min-width: 768px) {
	.contact-form {
		width: 400px;
	}
}