* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  font-family: "Trocchi", serif;
}

::-webkit-scrollbar {
  display: none;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about {
  width: 100%;
  height: 500px;
}

.about h2 {
  margin-top: 20px;
}

#avatar {
  height: 175px;
  border-radius: 50%;
}

.gallery-container {
  position: relative;
  background-color: #212121;
  text-align: center;
  color: #ffffff;
  padding: 75px 0px 75px 0px;
}

.gallery-container::before {
  position: absolute;
  background-color: inherit;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-3deg);
  z-index: -10;
}

.gallery-container::after {
  position: absolute;
  background-color: inherit;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: bottom left;
  transform: skewY(3deg);
  z-index: -10;
}

.gallery {
  margin: 75px 0px 75px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gallery-item {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

#submit {
  margin-top: 10px;
}

.overlay-background {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000000c0;
  z-index: 100;
  opacity: 0;
  animation: fadeIn 0.5s forwards cubic-bezier(0.19, 1, 0.22, 1);
}

.overlay-background-hide {
  animation: fadeOut 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.overlay {
  height: 90%;
  max-width: 90%;
}

.overlay img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #212121;
  height: 150px;
  font-size: 32px;
  color: white;
}

footer a {
  padding: 0px 10px 0px 10px;
  transition: color 0.25s ease;
  color: #ffffff;
}

footer a:hover {
  transition: color 0.25s ease;
  color: #00ff80;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px 10px;
    margin: 75px auto;
    width: 80%;
  }

  .gallery-item {
    height: 500px;
    transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .gallery-item:hover {
    transform: scale(1.075);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}
